.layout {
    width: 100%;
    margin: 0 auto;
}



.container-welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element-statistic {
    /* box-shadow: 5px 10px 20px -10px rgba(0,0,0,0.75); */
    padding: 10px;
}

.welcome {
    color: #ce0606;
}

.count {
    padding-left: 8px;
    cursor: auto;
  }

.ant-comment-rtl .count {
    padding-right: 8px;
    padding-left: 0;
  }


.announcement-header
  {
    display: flex;
  }

.announcements {
    width: 70%;
}


.statists {
  display: flex;
  justify-content: space-around;
}

.card-s {
  padding: 10px 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 30%;
  margin: 0px 0px 30px 0px;
  border-radius: 10px;
}

.statists-2 {
  display: flex;
  justify-content: space-around;
}

.card-sp {
  width: 30%;
}

.card-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.charts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.chart-ele {
  margin: 10px 0px;
  width: 49%;
}

.shadow {
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.al {
  display: flex;
  justify-content: space-around;

}

.title {
  font-weight: 500;
  margin: 10px 0px 0px 0px;
  text-align: center;
}