<nz-spin [nzSpinning]="isSpinning">


    <div class="login-page">
  
  
      <div class="form">
  
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  
          <p class="presentacion-title"><span class="welcome">¿Deseas restablecer tu contraseña? ,</span> Ingresa tu
            correo electrónico vigente: </p>
  
          <nz-form-item class="input-content">
            <nz-form-control nzHasFeedback nzErrorTip="El correo escrito no es correcto!">
              <nz-input-group nzPrefixIcon="email">
                <input type="email" nzSize="large" nz-input formControlName="email"
                  placeholder="Ingresa tu correo electrónico" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
  
          <button class="login-form-button login-form-margin"> Recuperar </button>
  
          <div>
            <div class="text-in" routerLink="/login"> <a>Volver al inicio de sesión</a> </div>
          </div>
  
        </form>
  
  
      </div>
    </div>
  
  </nz-spin>