
<nz-spin [nzSpinning]="isSpinning">

 
    <div class="login-page">
    
      
      <div class="form">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    
          <p class="presentacion-title"><span class="welcome">Restablece tu contraseña </span>, Ingresa los datos correspondientes. </p>
            
          <nz-form-item hidden class="input-content">
            <nz-form-control nzHasFeedback nzErrorTip="Campo obligatorio">
              <nz-input-group nzPrefixIcon="number">
                <input type="text" nz-input formControlName="email" placeholder="Código de verificación" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        
          
          <nz-form-item hidden  class="input-content">
            <nz-form-control nzHasFeedback nzErrorTip="Campo obligatorio">
              <nz-input-group nzPrefixIcon="number">
                <input type="text" nz-input formControlName="token" placeholder="Código de verificación" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        
        
          <nz-form-item class="input-content" > 
            <nz-form-control nzHasFeedback nzErrorTip="Campo obligatorio">
              <nz-input-group  nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Nueva contraseña" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        
          
          <nz-form-item class="input-content" > 
              <nz-form-control nzHasFeedback nzErrorTip="Campo obligatorio">
                <nz-input-group  nzPrefixIcon="lock">
                  <input  type="password" nz-input formControlName="newPassword" placeholder="Confirma tu nueva contraseña" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
      
            <button class="login-form-button login-form-margin"> Restablecer </button>
      
            <div>
              <div class="text-in"  routerLink="/login"  > <a>Iniciar sesión</a> </div>
            </div>
          
            
            </form>
      </div>
    </div>
    <!-- 
    <h1> Este es el login </h1>
    
    
    <a routerLink="/dashboard/statistics">  Acceder al dashboard </a> -->
    
    </nz-spin>